<h2>Buscar Venda:</h2>
<form action="/detalhevenda/codigo" method="GET">
<P>Por código:</P>
<input type="number" name="id">
<button type="submit">Buscar</button>
</form>
<form action="/detalhevenda/vendedor" method="GET">
<P>Vendedor:</P>
<input type="text" name="vendedor">
<button type="submit">Buscar</button>
</form>
<form action="/detalhevenda/cliente" method="GET">
<P>Cliente:</P>
<input type="text" name="cliente">
<button type="submit">Buscar</button>
</form>

<a href="/inicio">Página Inicial</a>