<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">    
    <title>Menu</title>    
</head>
<body>   
    <form action="/validar" method="GET">
    <p>Usuário: </p>
    <input type="text" name="usuario">
    <p>Senha: </p>
    <input type="password" name="senha">
    <button type="submit">Login</button>    
    </form>
    <a href="/cadastrarvendedor">Cadastrar-se</a>
</body>
</html>